@use "../global/variables" as *;

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  overflow: auto;
  background-color: $color-background;
  margin: 0;
  font-family: $ff-regular, Arial, sans-serif;
  font-size: 16px;
}
