@use '../global/variables' as *;
@use '../global/mixin' as *;
.btn-inscription {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    @include grey-text-animation;
    img {
      @include button-animation;
    }
  }

  &--repair {
    img {
      background-image: url(/public/images/repair.svg);
    }
  }
  &--checkstatus {
    img {
      background-image: url(/public/images/checkstatus.svg);
    }
  }
}
