@use '../global/mixin' as *;
@use '../global/variables' as *;
.btn-rectangular {
  width: 240px;
  height: 72px;
  padding: 16px;
  border-radius: $standart-radius;
  text-decoration: none;
  border: 1px solid $grey;
  cursor: pointer;
  background-color: $white;
  display: flex;
  flex-wrap: nowrap;
  flex: row;
  align-items: center;
  justify-content: end;
  background-repeat: no-repeat;
  background-position: 16px;
  &:hover,
  &:focus,
  &:active {
    @include button-animation;
  }
  &__go {
    background-image: url(/public/images/go.svg);
  }
  &--lenovo {
    background-image: url(/public/images/logo_bitmap/Bitmap.svg);
  }
  &--samsung {
    background-image: url(/public/images/logo_bitmap/Bitmap1.svg);
  }
  &--apple {
    background-image: url(/public/images/logo_bitmap/Bitmap2.svg);
  }
  &--viewsonic {
    background-image: url(/public/images/logo_bitmap/Bitmap3.svg);
  }
  &--bosch {
    background-image: url(/public/images/logo_bitmap/Bitmap4.svg);
  }
  &--hp {
    background-image: url(/public/images/logo_bitmap/Bitmap5.svg);
  }
  &--acer {
    background-image: url(/public/images/logo_bitmap/Bitmap6.svg);
  }
  &--sony {
    background-image: url(/public/images/logo_bitmap/Bitmap7.svg);
  }
}
