@use '../global/variables' as *;
@use '../global/mixin' as *;
.communication-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-menu;
  min-width: 320px;
  width: 100%;
  height: 100%;
  box-shadow: none;
  background-color: $white;

  @media (min-width: 768px) {
    left: unset;
    right: 0;
    width: 512px;
    background-color: initial;
  }
  &--feedback-menu {
    //display: none;
  }
  &--call-me-menu {
    //display: none;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      height: 100%;
    }
  }
  &__close-button-wrapper {
    padding-top: 24px;
    padding-left: 16px;
    background-color: $white;
    @media (min-width: 768px) {
      padding-left: 0px;
      width: 72px;
      padding-top: 40px;
      background-color: initial;
    }
  }
  &__main-wrapper {
    padding-top: 24px;
    background-color: $white;

    @media (min-width: 768px) {
      width: 440px;
      box-shadow: -15px 0 15px rgba(0, 0, 0, 0.2);
      padding-top: 40px;
    }
  }

  &__title {
    font-size: 24px;
    border-left: 4px solid $color-secondary;
    padding-left: 12px;
    @media (min-width: 768px) {
      padding-left: 30px;
      margin-top: 0px;
    }
  }

  &__form {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 16px;
  }
  &__input {
    border: 1px solid $color-deliver;
    border-radius: $standart-radius;
    width: 100%;
    height: 48px;
    padding: 16px;
    &::placeholder {
      color: $placeholder-color;
    }
    &--textarea {
      height: 118px;
    }
  }
  &__text {
    color: $grey;
  }
  &__pink-text {
    color: $pink;
  }
  &__send-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
