.main {
  &__navigation-swiper {
    margin-top: 24px;
    margin-left: 16px;
    @media (min-width: 768px) {
      margin-top: 32px;
    }
    @media (min-width: 1440px) {
      margin-top: 8px;
    }
  }
  &__article {
    margin-top: 24px;
    @media (min-width: 768px) {
      margin-top: 32px;
    }
    @media (min-width: 1440px) {
      margin-top: 16px;
    }
  }
  &__title {
    margin-top: 51px;
  }

  &__buttons-menu,
  &__table-wrapper,
  &__echo-phrase,
  &__btn-read-more {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    @media (min-width: 768px) {
      margin-left: 24px;
      margin-top: 24px;
      margin-right: 24px;
    }
    @media (min-width: 1440px) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }
}
