@use "../global/mixin" as *;
@use "../global/variables" as *;
.oval-button {
  width: 119px;
  height: 32px;
  text-decoration: none;
  background-color: inherit;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover,
  &:focus,
  &:active {
    @include button-animation;
  }
  &--order {
    background-image: url(/public/images/order.svg);
  }
  &--send {
    background-image: url(/public/images/send.svg);
  }
}
