@use "../global/mixin" as *;
@use "../global/variables" as *;
.read-more-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    @include grey-text-animation;
  }
}
