@use "../global/variables" as *;

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; // Предотвращаем изменение размера текста на iOS
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: $ff-bold, Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #1b1c21;
}

h2 {
  font-family: $ff-regular, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7e7e82;
}

h3 {
  font-family: $ff-medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
}

p {
  font-family: $ff-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #1b1c21;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
