// Colors
$color-primary: #42a5f5;
$border-color: rgb(217, 255, 245);
$color-secondary: #41f6d7;
$color-background: #f8f8f8;
$color-text: #1b1c21;
$white: rgb(255, 255, 255);
$pink: rgb(255, 62, 121);
$grey: #7e7e82;
$color-deliver: rgb(234, 234, 234);

// Fonts
//$font-family: 'TT Lakes';
$ff-regular: "TT Lakes Regular";
$ff-medium: "TT Lakes Medium";
$ff-bold: "TT Lakes Bold";

// Z-index
$z-index-menu: 1000;
$z-index-overlay: 200;


