.round-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover,
  &:focus {
    transform: scale(1.05);
    filter: contrast(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  &--burger-button {
    background-image: url("/public/images/burger.svg");
  }
  &--call-button {
    background-image: url("/public/images/call.svg");
  }
  &--chat-button {
    background-image: url("/public/images/chat.svg");
  }
  &--profile-button {
    background-image: url("/public/images/profile.svg");
  }
  &--repair-button {
    background-image: url("/public/images/repair.svg");
  }
  &--checkstatus-button {
    background-image: url("/public/images/checkstatus.svg");
  }
}
